.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000040;
    border-radius: 20px;
    height: 150px;
    width: 100%;
}
.image{
    position: relative;
    bottom: 5%;
    transform: translateY(25%);
    max-width: 100%;
    height: auto;
    border-radius: 50%;

}